<div class="jumbotron">
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
</div>
<div class="form-group has-success col-xs-7 col-sm-8">
  <label class="control-label" for="searchFood">Search:</label>
  <input class="form-control" ng-model="searchText" placeholder="Search food" id="searchFood">
</div>
<br/>
<div class="row">
  <div class="col-xs-7 col-sm-8">
    <table class="table table-condensed">
      <tr ng-repeat="item in foodcatalog | filter:searchText">
        <td>
          <food item="item"></food>
        </td>
        <td>
          {{item.description}}
        </td>
        <td>
          <button class="btn btn-primary btn-sm" ng-click="basket.add(item)">Add</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
